# Visual Studio Ignores
bin/
obj/

*.suo
*.user

*.ncb

# Visual Studio Extensions Ignores
.vs10x

# Resharper Ignores
_ReSharper.*/
*.resharper.user

# vim Ignore
*.swp

# kdiff3 Ignore
*.orig


# Misc Ignores
Thumbs.db
